{% extends "index.html" %}
{% block title %}blog_Index{% endblock %}
{% block meta %}
<meta http-equiv="refresh" content="60">
<% endblock %}
{% block content %}
        <div class="container" style="padding: 60px 15px 0;">
            <div class="row">
                <button type="button" onclick="document.location.href='{% url 'blog:create' %}'">추가</button>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2 text-center">번호</th>
                            <th class="col-md-6 " >제목</th>
                            <th class="col-md-2 text-center">작성자</th>
                            <th class="col-md-2 text-center">조회수</th>
                        </tr>
                    </thead>
                    {% for info in blog_table %}
                    <tbody>
                        <tr onclick="document.location.href='{% url 'blog:detail' info.id %}'">
                            <td class="col-md-2 text-center">{{ info.id }}</td>
                            <td class="col-md-6 "><a href="{% url 'blog:detail' info.id %}">{{ info.제목 }}</a></td>
                            <td class="col-md-2 text-center">{{ info.작성자 }}</td>
                            <td class="col-md-2 text-center">{{ info.조회수 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}